.new-task-wrapper {
  padding-bottom: 3%;
}

.wraper-checkbox {
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.thumbnail {
  width: 100%;
}

.new-task-label {
  align-self: center;
}

.completed-decoration {
  text-decoration: line-through;
}

.image-input-wrapper {
  width: 10%;
}
.image-input {
  display: none;
}
