.shopping-tasks {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.wrapper {
  padding-top: 4%;
  padding-bottom: 3%;
}

.link-like {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.link-like:hover {
  color: #ffcd00;
}
@media screen and (max-width: 540px) {
  .shopping-tasks {
    margin-left: 2%;
    margin-right: 2%;
  }

  .button {
    max-width: 60%;
  }
}

@media screen and (min-device-width: 740px) and (max-width: 1280px) {
  .shopping-tasks {
    margin-left: 20%;
    margin-right: 20%;
  }
}
