.link {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #ffcd00;
}

.taskWrapperCom {
  padding-top: 3%;
  padding-bottom: 3%;
}

.taskitemsCom {
  padding-bottom: 1%;
  text-decoration: line-through;
}
