.link {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #ffcd00;
}

.taskWrapperCom {
  padding-top: 3%;
  padding-bottom: 3%;
}

.taskItemCom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1%;
}

.spanCom {
  text-decoration: line-through;
  align-self: center;
}

.imageCom {
  width: 20%;
}
