.shoppingTasks {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.headerTasks {
  font-size: 25px;
}

.wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media screen and (max-width: 540px) {
  .shoppingTasks {
    margin-left: 2%;
    margin-right: 2%;
  }
  .titleaddscreen {
    font-size: 20px;
  }
  .button {
    max-width: 60%;
  }
}

@media screen and (min-device-width: 740px) and (max-width: 1280px) {
  .shoppingTasks {
    margin-left: 20%;
    margin-right: 20%;
  }
}
