.formAdd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.inputForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  padding-bottom: 8%;
}

.font {
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .formAdd {
    width: 100%;
  }
}

@media screen and (min-device-width: 540px) and (max-width: 1280px) {
  .formAdd {
    width: 100%;
  }
}
