.header-tasks {
  font-size: 25px;
}

.sort-by-div {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-self: center;
}

.link-like-header {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.link-like-header:hover {
  color: #ffcd00;
}
