.button {
  background-color: #0058ab;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  max-width: 50%;
  height: auto;
  border-radius: 80px;
  padding: 15px;
  align-self: center;
}

.button:hover {
  color: #ffcd00;
  cursor: pointer;
  text-decoration: underline;
}
