.wrapperHomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 35%;
  margin-right: 35%;
  z-index: 0;
}

@media screen and (max-width: 540px) {
  .wrapperHomePage {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media screen and (min-device-width: 740px) and (max-width: 1280px) {
  .wrapperHomePage {
    margin-left: 20%;
    margin-right: 20%;
  }
}
